@model IEnumerable<InternetBankLemonade.Models.Account>
@using InternetBankLemonade.Models;
@{
    AuthModel _authModel = new AuthModel();
    if (_authModel.IsAdmin(User.Identity.Name))
    {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    } 
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    
    ViewBag.Title = "Главная";
}
<script src="~/Scripts/jquery-1.12.4.min.js"></script>

<div class="container">
    <div class="row" style="padding-top: 50px">
        @if (!_authModel.IsAdmin(User.Identity.Name))
        {
            foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Тип карты:</label>
                        <label>@item.CardType</label>
                    </div>

                    <div class="form-group">
                        <label>Номер карты:</label>
                        <label>@item.CardNumber</label>
                    </div>
                    <div class="form-group">
                        <label>Средства:</label>
                        <label>@Math.Round(@item.MoneyAmount, 2)</label>
                    </div>

                    <div class="form-group">
                        <label>Валюта:</label>
                        <label>@item.CurrencyCode</label>
                    </div>

                    <div class="form-group">
                        <label>Действительна до:</label>
                        <label>@item.ExpDate</label>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-4 col-md-offset-4"><h2>Администратор</h2></div>
            
        }
       
    </div>
</div>
